<div class="card">

    <div class="card-header">
        Product Name
    </div>

    <div>
    <img src="" alt="" class="card-img-top">
    </div>

    <div class="card-body">
    <h5 class="card-tittle title">Title</h5>
    <h6 class="card-subtitle my-2 text-primary">12 products are available</h6>
    <p class="card-text description">description</p>
    </div>

    <div class="card-body">
    <h5 class="card-title text-success">Final price</h5>
    <span class="text-primary"> -20%
    </span>
    <h6 class="card-subtitle text-danger text-decoration-line-through">Original price
    </h6>
    </div>
</div>